.button-disabled, .button-enabled, .button-active {
	overflow: hidden;
}

.button-enabled, .button-active {
	cursor: pointer;
}

.button-disabled {
	cursor: default;
}

.button-content, .ui-dropdown-button-item {
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-origin: border;
}

.button-content {
	width: 100%;
	height: 100%;
}

.ui-dropdown-button-item {
	cursor: pointer;
}

.ui-dropdown-button-button {
	width: 100%;
	height: 100%;
}
