#loading-shade {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 9999;
	cursor: wait;
}

#loading-container {
	top: 40%;
	left: 50%;
	position: absolute;
	cursor: wait;
}

#loading-msg {
	position: relative;
	left: -50%;
	padding: 20px;
	font-size: 1.3em;
	background: white;
	border-radius: 10px;
	cursor: wait;
	text-align: left;
}