.ui-sliding-div-handle {
	background-position: center;
	background-color: lightgray;
	background-repeat: no-repeat;
	border: 1px solid gray;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height: 10px;
	width: 40px;
	cursor: pointer;
}

.ui-sliding-div-container {
	background: wheat;
}

.handle-opened {
	background-image: url('../images/arrow_up.png');
}

.handle-closed {
	background-image: url('../images/arrow_down.png');
}