.ui-sliding-div-container {
	position: fixed;
	left: 10px;
	top: 150px;
	z-index: 9999;
}

.ui-sliding-div-handle {
	background-position: center;
	background-color: lightgray;
	background-repeat: no-repeat;
	border: 1px solid gray;
	height: 10px;
	width: 40px;
	border: 1px solid gray;
	cursor: pointer;
}

.handle-opened {
	background-image: url('../images/arrow_up.png');
}

.handle-closed {
	background-image: url('../images/arrow_down.png');
}

.ui-sliding-div-content {
	background: red;
	width: 42px;
	height: 40px;
}