#ui-alerts-wrapper {
	position: absolute;
	left: 50%;
	bottom: 20px;
	z-index: 2000;
}

#ui-alerts-container {
	position: relative;
	left: -50%;
	width: 40em;
}

.ui-alert {
	text-align: center;
	width: 100%;
	padding: 10px;
	font-size: 1.1em;
	border: 1px solid gray;
	margin-bottom: 5px;
	display: table;
}

.ui-alerts-close {
	background: url(../images/close.png);
	background-size: contain;
	display: table-cell;
	height: 16px;
	width: 16px;
	vertical-align: middle;
	cursor: pointer;
}

.ui-alert-info {
	background: #EEEEFF;
}

.ui-alert-error {
	background: #FF8888;
}